.colorText {
    color: #134cc9; 
}

.container {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 70vh;
}

.title {
    color: #ffffff;
    margin-top: -200px;
    width: 1200px;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;       
    line-height: 1;     
    font-family: FiraSansBold;    
}

.botaoComeceAgora {
    font-family: FiraSansRegular;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: #1a73e8; 
    color: white; 
    width: 150px;
    height: 50px;
    border: none; 
    padding: 8px 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
  }

  .botaoComeceAgora:hover {
    background-color: #4285f4; 
    color: #f1f1f1; 
    transform: scale(1.2);
  }

.paragrafo-introducao{
    font-size: 1.5rem;
    width: 600px;
    color: #C8D2DB;
    text-align: center;
    font-family: FiraSansRegular;
}

.paragrafoGratis{
    font-size: 1.5rem;
    width: 600px;
    color: #ffffff;
    font-family: FiraSansRegular;
}
