.container{
    align-items: center;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
    padding: 40px 50px;
  }

  .quizBackground{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 38, 39);
  }
  
  .bemVindo{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: auto;
    margin: auto;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    gap: 24px;
    border-radius: 10px;
    padding: 40px 50px;
    font-family: FiraSansRegular;
  }

  .introducao{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -200px;
    font-family: FiraSansBold;
  }

  .paragrafoBemVindo{
    font-size: 22px;
    font-family: FiraSansRegular;
  }

  .logo-Botão{
    margin-left: 350px;
  }
  
  .logoSite{
    width: 350px;
    height: 350px;
  }
  
  .botao{
    margin-top: 10px;
    align-items: center;
    background-attachment: scroll;
    background-color: rgb(0, 0, 0);
    background-size: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-color: black;
    border-top-width: 2px;
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-weight: 500;
    height: 64px;
    width: 500px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-decoration-color: white;
    color: rgb(255, 255, 255);
    font-family: FiraSansRegular;
    transition: all 0.3s ease; 
  }

  .botao:hover{
    background-color: rgb(26, 23, 23);
    background-color: rgb(26, 23, 23);
    transform: scale(1.2);
  }
  
  .seta-voltar {
    position: absolute; 
    top: 40px;          
    left: 40px;
    width: 24px;
    height: 24px;         
    font-size: 50px;    
    color: rgb(255, 255, 255);       
    cursor: pointer;    
    font-family: FiraSansBold;
  }
  
  .seta-voltar:hover {
    color: rgb(221, 221, 221); 
  }
  
  .botao.botao-continuar {
    width: 150px;
    font-size: 22px;
    align-items: center;
    margin-left: 100px;
  }

  .botao.botao-continuar:hover{
    background-color: black;
  }
  
  .container-BemVindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .tituloPergunta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 20px;
  }
  
  .tituloEscolhaMateria{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: -280px;
    margin-bottom: 50px;
    color: white;
  }
  
  .escolha-materia {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .materiaDiv {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    gap: 20px;
    background-color: #1F1F1F;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .materia-imagem {
    width: 150px;
    height: 100px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px; 
  }
  
  .materia-descricao {
    text-align: left;
    color: white;
  }
  
  .materia-Titulo {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: -20px;
    font-family: FiraSansBold;
  }
  
  .materia-paragrafo {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: rgb(179, 179, 179);
    font-family: FiraSansRegular;
  }
  
  .materia-click {
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 2px solid #1D1D1D;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    background-color: #1F1F1F;
    font-family: FiraSansBold;
    margin-top: -280px;
    color: white;
  }
  
  .nivelamento {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    font-family: FiraSansRegular;
    background-color: #1A1A1A;
    border: 2px solid #272626;
    color: white;
    border-radius: 5px;
  }
  
  .paragrafoNivelamento {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: FiraSansRegular;
    color: rgb(179, 179, 179);
  }
  
  .botao-iniciarMateria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
    font-family: FiraSansBold;
    width: 250px;
  }
  
  .botao-iniciarMateria:hover {
    background-color: rgb(0, 86, 200);
    transform: scale(1.2);
    opacity: 100%;
  }
  
  .fechar-materia {
    position: absolute;
    top: 40px; 
    right: 40px; 
    width: 24px;
    height: 24px;
    font-size: 50px;
    background: none; 
    color: rgb(255, 255, 255); 
    border: none;  
    font-weight: bold; 
    cursor: pointer;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .fechar-materia:hover {
    color: rgb(221, 221, 221); 
    background-color: #242627;
    transform: scale(1);
  }