/* Estilo para a div "topic" */
.topic {
  width: 40rem;
  background-color: #0f0f0f; /* Cor de fundo da div "topic" */
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* Estilo para o título */
.titleS {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 3rem;
  color: #e7e7e7; /* Cor do título */
  text-align: center;
}

/* Estilo do dropdown */
.dropdown {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

/* Estilo do rótulo do dropdown */
.dropdown-label {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 1.5rem;
  color: #e7e7e7;
  margin-bottom: 1rem;
  display: block;
}

/* Estilo do botão de menu */
.dropdown-button {
  color: #e7e7e7; /* Cor do ícone do botão */
  font-size: 2rem;
  background-color: #333; /* Cor de fundo do botão */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* Estilo do ícone do botão de menu */
.material-icons {
  color: #e7e7e7; /* Cor do ícone de menu */
}

/* Estilo para o menu */
.MuiMenu-paper {
  background-color: #0f0f0f !important; /* Cor de fundo do menu (mesma cor da div "topic") */
  width: 40rem; /* Largura personalizada do menu */
}

/* Estilo de cada item do menu */
.MuiMenuItem-root {
  background-color: #1a1a1a; /* Cor de fundo dos itens */
  color: #e7e7e7 !important; /* Cor do texto */
}

/* Garantir que o texto do item de menu tenha a cor desejada */
.MuiMenuItem-root .MuiTypography-root {
  color: #e7e7e7 !important; /* Cor do texto nos itens */
}

/* Estilo para os ícones dentro dos itens do menu */
.MuiMenuItem-root .dropdown-icon {
  color: #e7e7e7; /* Cor dos ícones no menu */
}

/* Estilo de hover nos itens do menu */
.MuiMenuItem-root:hover {
  background-color: #444; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os ícones dentro do botão "menu" */
.MuiIconButton-root {
  color: #e7e7e7 !important; /* Cor do ícone do botão de menu */
}
