
.container {
    background-color: #0f0f0f;  
    text-align: center;          
    width: 40rem; 
    height: 10rem; 
}

.title {
    color: #e7e7e7;              
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 3rem;             
    font-weight: bold;          
    letter-spacing: 2px;         
    margin: 0;                   
}
